:javascript
  // Ruby data -> Javascript
  var desks_raw = "#{escape_javascript @desks}"
  window.all_desks = $.parseJSON(desks_raw);
  window.default_image_url = "#{request.protocol}#{request.host_with_port}#{asset_path("question_mark.jpg")}"
.row
  .col-md-6.col-md-offset-3.text-center
    %h1.heading-color Standing Desk Search
.row
  .col-md-4.options-picker
    %h2 Preferences
    %form#search-form
      .form-group
        %label{for: "budget-slider"} Price Range
        %input#budget-slider{type: "text", data: {:'slider-id' => "budget-slider-input", :'slider-min' => "0", :'slider-max' => "2000", :'slider-step' => 5, :'slider-value' => "[0,2000]"}}
      .form-group
        %label{for: "computer-group"} Your Computer
        .btn-group.btn-group-justified#computer-group{:'data-toggle' => "buttons"}
          %label.btn.btn-default.active
            %input#computer-laptop{name: "computer", type: "radio", checked:""} Laptop
          %label.btn.btn-default
            %input#computer-desktop{name: "computer", type: "radio"} Desktop
      .form-group
        %label{for: "diy-group"} DIY or Premade
        .btn-group.btn-group-justified#diy-group{:'data-toggle' => "buttons"}
          %label.btn.btn-default
            %input#diy-yes{name: "diy", type: "radio"} DIY
          %label.btn.btn-default.active
            %input#diy-no{name: "diy", type: "radio", checked: ""} Premade
      .form-group
        %label{for: "converter-group"} Sit-to-Stand-Converter or Full Height Desk
        .btn-group.btn-group-justified#converter-group{:'data-toggle' => "buttons"}
          %label.btn.btn-default
            %input#converter-yes{name: "converter", type: "radio"} Converter
          %label.btn.btn-default.active
            %input#converter-no{name: "converter", type: "radio", checked: ""} Full Height
      .form-group
        %label{for: "adjustable-group"} Fixed Height or Adjustable Height
        .btn-group.btn-group-justified#adjustable-group{:'data-toggle' => "buttons"}
          %label.btn.btn-default
            %input#adjustable-yes{name: "adjustable", type: "radio"} Fixed Height
          %label.btn.btn-default.active
            %input#converter-no{name: "adjustable", type: "radio", checked: ""} Adjustable Height
      .form-group
        %label{for: "adjustable-group"} Crank or Electrically Adjustable
        .btn-group.btn-group-justified#electric-group{:'data-toggle' => "buttons"}
          %label.btn.btn-default
            %input#electric-no{name: "electric", type: "radio"} Crank
          %label.btn.btn-default.active
            %input#electric-yes{name: "electric", type: "radio", checked: ""} Electric
  .col-md-8.desk-display#desk-display
-# BASIC option:
-# Load all images and have them hidden. 
-# SOLUTION: 1.) onload event AJAX request, returns image_tag html w/ proper IDs which then can be shown as needed
-# http://stackoverflow.com/questions/3818063/dont-load-hidden-images
-# data-src w/ real src, src blank. Then in the background let javascript DL all the images
-# caching images: http://makandracards.com/makandra/11345-how-to-make-your-application-assets-cachable-in-rails
= image_tag "question_mark.jpg", class: "main-product-image hide"

